Flask==0.10.1
IPy==0.83
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.10.4
argparse==1.2.1
click==5.1
ecdsa==0.13
flake8==2.5.0
itsdangerous==0.24
mccabe==0.3.1
paramiko==1.16.0
pep8==1.5.7
pycrypto==2.6.1
pyflakes==1.0.0
python-dateutil==2.4.2
python-geoip==1.2
python-geoip-geolite2==2015.0303
redis==2.10.5
six==1.10.0
wsgiref==0.1.2
mock==2.0.0
