{% extends "layout.html" %}

{% block morehead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
{% if show_server_status %}
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.min.js"></script>
<script src="{{url_for('static', filename='status.js')}}"></script>
{% endif %}
{% endblock %}

{% block title %}
Stats Overview
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Kills this week</h3>
      </div>
      <div class="panel-body" style="text-align: center;" id="chart_latest_kills_parent">
        <canvas id="chart_latest_kills" style="width: 100%; height: 200px;"></canvas>
      </div>
    </div>
  </div>

  <div class="col-xs-12  col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Top countries</h3>
      </div>
      <div class="panel-body" style="text-align: center;">
        <canvas id="chart_top_countries" style="width: 100%; height: 200px;"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  // Our latest kills line chart
  var killsCtx = document.getElementById('chart_latest_kills').getContext('2d');
  var data = {
    labels: {{killsperdate.keys()[::-1]|safe}},
    datasets: [
      {
        label: 'Kills per day',
        fillColor: 'rgba(220,220,220,0.2)',
        strokeColor: 'rgba(220,220,220,1)',
        pointColor: 'rgba(220,220,220,1)',
        pointStrokeColor: '#fff',
        pointHighlightFill: '#fff',
        pointHighlightStroke: 'rgba(220,220,220,1)',
        data: {{killsperdate.values()[::-1]|safe}}
      }
    ]
  };
  var latestKillsChart = new Chart(killsCtx).Line(data, {animation: false});

  // Our top countries pie chart
  var countriesCtx = document.getElementById('chart_top_countries').getContext('2d');
  var data = {{topcountries|safe}};
  var topCountriesChart = new Chart(countriesCtx).Pie(data, {animation: false});
</script>

{% if show_server_status %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Current Server Status</h3>
      </div>
      <div id="current_server_status">
      </div>
    </div>
  </div>
</div>
<script>
  load_server_status('{{url_for('status', server_slug=server_slug)}}', $('#current_server_status'));
</script>
{% endif %}

{% endblock %}
