{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
Latest Rounds
{% endblock %}

{% block content %}

<nav>
  <ul class="pager">
  {% if prev_url %}
    <li><a href="{{ prev_url }}">Newer</a></li>
  {% else %}
    <li class="disabled"><a href="" onclick="return false;"><span aria-hidden="true">Newer</span></a></li>
  {% endif %}

  {% if next_url %}
    <li><a href="{{ next_url }}">Older</a></li>
  {% else %}
    <li class="disabled"><a href="" onclick="return false;"><span aria-hidden="true">Older</span></a></li>
  {% endif %}
  </ul>
</nav>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>When</th>
        <th>Duration</th>
        <th>Map</th>
        <th># Players</th>
        <th>Kills</th>
        <th>Scores</th>
        <th>Outcome</th>
      </tr>
    </thead>
    <tbody>
    {% for r in rounds %}
      <tr>
        <td>{{macro.roundlink(urlargs, r.id)}}</td>
        <td>{{pretty_datetime(r.started)}}</td>
        <td>{% if r.duration > 0 %}{{pretty_duration(r.duration)}}{% else %}&mdash;{% endif %}</td>
        <td>{{macro.maplink(urlargs, r.map)}}</td>
        <td>{{r.num_players}}</td>
        <td>{{r.kills}}</td>
        <td>
          {% if r.flagmatch %}
              {{ macro.roundteamscores(r) }}
          {% endif %}
        </td>
        <td>
          {% if r.flagmatch %}
            {% if r.winning_team %}
              <span class="team-{{r.winning_team}}">{{ r.winning_team.capitalize() }} Won</span>
            {% elif r.tie %}
              Tie
            {% elif r.scores == 0%}
              No Scores
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
