{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
Latest Kills
{% endblock %}

{% block content %}

<nav>
  <ul class="pager">
  {% if prev_url %}
    <li><a href="{{ prev_url }}">Newer</a></li>
  {% else %}
    <li class="disabled"><a href="" onclick="return false;"><span aria-hidden="true">Newer</span></a></li>
  {% endif %}

  {% if next_url %}
    <li><a href="{{ next_url }}">Older</a></li>
  {% else %}
    <li class="disabled"><a href="" onclick="return false;"><span aria-hidden="true">Older</span></a></li>
  {% endif %}
  </ul>
</nav>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="2">Killer</th>
        <th colspan="2">Victim</th>
        <th colspan="2">Weapon</th>
        <th>When</th>
        <th>Round</th>
      </tr>
    </thead>
    <tbody>
    {% for k in kills %}
      <tr>
        <td style="width: 0;">{{ macro.playerlink(urlargs, k.killer_obj, true, k.killer_team) }}</td>
        <td style="width: 0;">{{ macro.playerlink(urlargs, k.victim_obj, true, k.victim_team) }}</td>
        <td style="width: 0; text-align: right;">{{ macro.weaponpic(k.weapon) }}</td>
        <td>{{ macro.weaponlink(urlargs, k.weapon) }}</td>
        <td>{{ k.datetime }}</td>
        <td>{{ macro.roundlink(urlargs, k.round_id) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
