{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
Latest Kills
{% endblock %}

{% block content %}

<nav>
  <ul class="pager">
  {% if prev_url %}
    <li><a href="{{ prev_url }}">Newer</a></li>
  {% else %}
    <li class="disabled"><a href="" onclick="return false;"><span aria-hidden="true">Newer</span></a></li>
  {% endif %}
    <li><a href="{{ next_url }}">Older</a></li>
  </ul>
</nav>

<table class="table table-striped">

<thead>
  <tr>
    <th>Killer</th>
    <th>Victim</th>
    <th>Weapon</th>
    <th>When</th>
  </tr>
</thead>

<tbody>
{% for k in kills %}
<tr>
  <td>{{ macro.playerlink(k.killer_obj) }}</td>
  <td>{{ macro.playerlink(k.victim_obj) }}</td>
  <td style="text-align: center;">{{ macro.weaponpic(k.weapon) }}</td>
  <td>{{ fixdate(k.timestamp) }}</td>
</tr>
{% endfor %}
</tbody>

</table>
{% endblock %}
