<html>
<head>
<title>{% block ttitle %}{%endblock%} piestats</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

{% block morehead %}{% endblock %}
</head>
<body>
<div class="container">
  <div class="page-header" style="border: none;">
    <h1>{% block title %}{%endblock%}</h1>
    <ul class="nav nav-tabs">
      <li {% if request.url_rule.endpoint == 'index'%}class="active"{% endif %} role="presentation"><a href="{{ url_for('index') }}">Overview</a></li>
      <li {% if request.url_rule.endpoint == 'top_players'%}class="active"{% endif %} role="presentation"><a href="{{ url_for('top_players') }}">Top Players</a></li>
      <li {% if request.url_rule.endpoint == 'weapons'%}class="active"{% endif %} role="presentation"><a href="{{ url_for('weapons') }}">Top Weapons</a></li>
      <li {% if request.url_rule.endpoint == 'latestkills'%}class="active"{% endif %} role="presentation"><a href="{{ url_for('latestkills') }}">Latest Kills</a></li>
    </ul>
  </div>

<div class="panel">
{% block content %}

{% endblock%}
</div>

</div>
</body>
</html>
