{% macro playerlink(urlargs, player, tdsplit=False) %}
  {% if player.name not in ['Major', 'Major(1)'] and player.lastcountry != None %}
    <img width="16" height="11" src="{{ url_for('static', filename='flags/'+player.lastcountry.lower()+'.png') }}" title="{{ player.lastcountry }}">
  {% endif %}

  {% if tdsplit %}
    </td>
    <td>
  {% endif %}

  <a href="{{ url_for('player', name=player.name, **urlargs) }}">{{player.name}}</a>
{% endmacro %}

{% macro weaponpic(weapon) %}
  {% if weapon != 'Selfkill' %}
    <img src="{{ url_for('static', filename='soldatguns/'+weapon.replace(' ', '_')+'.png') }}" title="{{ weapon }}">
  {% endif %}
{% endmacro %}

{% macro weaponlink(urlargs, weapon) %}
    {# <a href="{{ url_for('weapon', weapon=weapon, **urlargs) }}">{{ weapon }}</a> #}
    {{ weapon }}
{% endmacro %}
