{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
{{ map.name }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12  col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Overview</h3>
      </div>
      <table class="table table-striped">
        <tbody>
          <!-- Offset stripe highlight by one -->
          <tr></tr>
          <tr>
            <th>Name</th>
            <td>{{ map.name }}</td>
          </tr>
          <tr>
            <th>Plays</th>
            <td>{{ map.plays }}</td>
          </tr>
          <tr>
            <th>Kills</th>
            <td>{{ map.kills }}</td>
          </tr>
          {% if map.flags %}
          <tr>
            <th>Scores</th>
            <td>
              <span class="team-alpha">{{map.scores_alpha}}</span>
              <span class="team-bravo">{{map.scores_bravo}}</span>
            </td>
          </tr>
          <tr>
            <th>Wins</th>
            <td>
              <span class="team-alpha">{{map.wins_alpha}}</span>
              <span class="team-bravo">{{map.wins_bravo}}</span>
            </td>
          </tr>
          <tr>
            <th>Ties</th>
            <td>
              {{map.ties}}
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

    {% if map.svg_exists %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{map.title}}</h3>
      </div>
      <a href="{{macro.mapsvgurl(urlargs, map.name)}}">
        <img style="margin: 20px;" src="{{macro.mapsvgurl(urlargs, map.name)}}"
             title="Polygons for {{map.name}}"
             alt="Polygons for {{map.name}}">
      </a>
    </div>
    {% endif %}
  </div>

  <div class="col-xs-12  col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Weapons</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2" style="text-align: left;">Wep</th>
            <th>Kills</th>
          </tr>
         </thead>
         <tbody>
      {% for wep in map.weapons.values()|sort(attribute='kills', reverse=True) %}
        <tr>
          <td width="10" style="text-align: right;">{{macro.weaponpic(wep.name)}}</td>
          <td>{{macro.weaponlink(urlargs, wep.name)}}</td>
          <td>{{ wep.kills }}</td>
        </tr>
      {% endfor %}
         </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
