{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
Top Maps
{% endblock %}

{% block content %}

<nav>
  <ul class="pager">
  {% if prev_url %}
    <li><a href="{{ prev_url }}">Previous</a></li>
  {% else %}
    <li class="disabled"><a href="" onclick="return false;"><span aria-hidden="true">Previous</span></a></li>
  {% endif %}

  {% if next_url %}
    <li><a href="{{ next_url }}">Next</a></li>
  {% else %}
    <li class="disabled"><a href="" onclick="return false;"><span aria-hidden="true">Next</span></a></li>
  {% endif %}
  </ul>
</nav>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Map</th>
        <th>Plays</th>
        <th>Kills</th>
        <th>Scores Alpha</th>
        <th>Scores Bravo</th>
      </tr>
    </thead>
    <tbody>
      {% for map in maps %}
      <tr>
        <td>{{macro.maplink(urlargs, map.name)}}</td>
        <td>{{map.plays}}</td>
        <td>{{map.kills}}</td>
        <td>{{map.scores_alpha}}</td>
        <td>{{map.scores_bravo}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

