{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
Top Maps
{% endblock %}

{% block content %}

<nav>
  <ul class="pager">
  {% if prev_url %}
    <li><a href="{{ prev_url }}">Previous</a></li>
  {% else %}
    <li class="disabled"><a href="" onclick="return false;"><span aria-hidden="true">Previous</span></a></li>
  {% endif %}

  {% if next_url %}
    <li><a href="{{ next_url }}">Next</a></li>
  {% else %}
    <li class="disabled"><a href="" onclick="return false;"><span aria-hidden="true">Next</span></a></li>
  {% endif %}
  </ul>
</nav>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Map</th>
        <th>Plays</th>
        <th>Kills</th>
        <th>Scores</th>
        <th>Wins</th>
      </tr>
    </thead>
    <tbody>
      {% for map in maps %}
      <tr>
        <td>{{macro.maplink(urlargs, map.name)}}</td>
        <td>{{map.plays}}</td>
        <td>{{map.kills}}</td>
        <td>
          {% if map.flags %}
          <span class="team-alpha">{{map.scores_alpha}}</span>
          <span class="team-bravo">{{map.scores_bravo}}</span>
          {% else %}
          -
          {% endif %}
        </td>
        <td>
          {% if map.flags %}
          <span class="team-alpha">{{map.wins_alpha}}</span>
          <span class="team-bravo">{{map.wins_bravo}}</span>
          {% else %}
          -
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

