{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
Top Maps
{% endblock %}

{% block content %}

{{ macro.pager(prev_url, next_url) }}

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Map</th>
        <th>Plays</th>
        <th>Kills</th>
        <th>Scores</th>
        <th>Wins</th>
      </tr>
    </thead>
    <tbody>
      {% for map in maps %}
      <tr>
        <td>{{macro.maplink(urlargs, map.name)}}</td>
        <td>{{map.plays}}</td>
        <td>{{map.kills}}</td>
        <td>
          {% if map.flags %}
          <span class="team-alpha">{{map.scores_alpha}}</span>
          <span class="team-bravo">{{map.scores_bravo}}</span>
          {% else %}
          -
          {% endif %}
        </td>
        <td>
          {% if map.flags %}
          <span class="team-alpha">{{map.wins_alpha}}</span>
          <span class="team-bravo">{{map.wins_bravo}}</span>
          {% else %}
          -
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

