{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
Top Players
{% endblock %}

{% block content %}

<nav>
  <ul class="pager">
  {% if prev_url %}
    <li><a href="{{ prev_url }}">Previous</a></li>
  {% else %}
    <li class="disabled"><a href="" onclick="return false;"><span aria-hidden="true">Previous</span></a></li>
  {% endif %}

  {% if next_url %}
    <li><a href="{{ next_url }}">Next</a></li>
  {% else %}
    <li class="disabled"><a href="" onclick="return false;"><span aria-hidden="true">Next</span></a></li>
  {% endif %}
  </ul>
</nav>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="2">Player</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Scores</th>
        <th>Firstseen</th>
        <th>Lastseen</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
      <tr>
        <td style="width: 0;">{{macro.playerlink(urlargs, player, true)}}</td>
        <td>{{player.kills}}</td>
        <td>{{player.deaths}}</td>
        <td>
          <span class="team-alpha">{{ player.scores_alpha }}</span>
          <span class="team-bravo">{{ player.scores_bravo }}</span>
        </td>
        <td>{{pretty_datetime(player.firstseen)}}</td>
        <td>{{pretty_datetime(player.lastseen)}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
