{% extends "layout.html" %}

{% block title %}
{{ player.name }}
{% endblock %}

{% block content %}

<table>

  <tr>
    <th>Kills</th>
    <td>{{ player.kills  }}</td>
  </tr>

  <tr>
    <th>Deaths</th>
    <td>{{ player.deaths  }}</td>
  </tr>

  <tr>
    <th>Last Seen</th>
    <td>{{ player.lastseen }}</td>
  </tr>

  <tr>
    <th>First Seen</th>
    <td>{{ player.firstseen }}</td>
  </tr>

</table>

<h4>Weapons</h4>
<table>

  <tr>
    <th>Wep</th>
    <th>Kills</th>
    <th>Deaths</th>
  </tr>

{% for wep in player.weapons.values()|sort(attribute='kills', reverse=True) %}

  <tr>
    <td style="text-align: center;"><img src="{{ gunpic(wep.name) }}" title="{{ wep.name }}"></td>
    <td>{{ wep.kills }}</td>
    <td>{{ wep.deaths }}</td>
  </tr>

{% endfor %}

</table>

{% endblock %}
