{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
{{ player.name }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12  col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Overview</h3>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
            <td>{{ player.name }}</td>
          </tr>
          <tr>
          <tr>
            <th>Kills</th>
            <td>{{ player.kills }}
              {% if rank < 200 %}
              <span style="font-size: 80%" class="badge ">#{{ rank  }}</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Deaths</th>
            <td>{{ player.deaths }}</td>
          </tr>
          <tr>
            <th>Last Seen</th>
            <td>{{ player.lastseen }}</td>
          </tr>
          <tr>
            <th>First Seen</th>
            <td>{{ player.firstseen }}</td>
          </tr>
          {% if player.name not in ['Major', 'Major(1)'] and player.lastcountry != None %}
          <tr>
            <th>Country</th>
            <td>
              <img width="16" height="11" src="{{ url_for('static', filename='flags/'+player.lastcountry.lower()+'.png') }}" title="{{ player.lastcountry }}">
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Weapons</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2" style="text-align: left;">Wep</th>
            <th>Kills</th>
            <th>Deaths</th>
          </tr>
         </thead>
         <tbody>
      {% for wep in player.weapons.values()|sort(attribute='kills', reverse=True) %}
        <tr>
          <td width="10" style="text-align: right;">{{macro.weaponpic(wep.name)}}</td>
          <td>{{macro.weaponlink(urlargs, wep.name)}}</td>
          <td>{{ wep.kills }}</td>
          <td>{{ wep.deaths }}</td>
        </tr>
      {% endfor %}
         </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-12  col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Top Victims</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th colspan="2">Player</th>
            <th>Kills</th>
          </tr>
         </thead>
         <tbody>
          {% for player in top_victims %}
            <tr>
              <td style="text-align: right; width: 0;">{{ macro.playerlink(urlargs, player, true) }}</td>
              <td style="width: 50%;">{{ player.kills }}</td>
            </tr>
          {% endfor %}
         </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Top Enemies</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Player</th>
            <th>Deaths</th>
          </tr>
         </thead>
         <tbody>
          {% for player in top_enemies %}
            <tr>
              <td style="text-align: right; width: 0;">{{ macro.playerlink(urlargs, player, true) }}</td>
              <td style="width: 50%;">{{ player.kills }}</td>
            </tr>
          {% endfor %}
         </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
