{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
Search Results
{% endblock %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">Player</th>
      <th>Kills</th>
      <th>Lastseen</th>
    </tr>
  </thead>
  <tbody>
{% for player in results %}
    <tr>
      <td style="width: 0;">{{macro.playerlink(urlargs, player, true)}}</td>
      <td>{{player.kills}}</td>
      <td>{{player.lastseen}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
