{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
Top Players
{% endblock %}

{% block content %}

{{ macro.pager(prev_url, next_url) }}

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="2">Player</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>K:D</th>
        <th>Scores</th>
        <th>Firstseen</th>
        <th>Lastseen</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
      <tr>
        <td style="width: 0;">{{macro.playerlink(urlargs, player, true)}}</td>
        <td>{{player.kills}}</td>
        <td>{{player.deaths}}</td>
        <td>{{player.kd}}</td>
        <td>
          <span class="team-alpha">{{ player.scores_alpha }}</span>
          <span class="team-bravo">{{ player.scores_bravo }}</span>
        </td>
        <td>{{pretty_datetime(player.firstseen)}}</td>
        <td>{{pretty_datetime(player.lastseen)}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
