{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
Round {{ round.id }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12  col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Overview</h3>
      </div>
      <table class="table table-striped">
        <tbody>
          <!-- Offset stripe highlight by one -->
          <tr></tr>
          <tr>
            <th>Started</th>
            <td>{{pretty_datetime(round.started)}}</td>
          </tr>
          <tr>
            <th>Duration</th>
            <td>{% if round.duration > 0 %}{{pretty_duration(round.duration)}}{% else %}&mdash;{% endif %}</td>
          </tr>
          <tr>
            <th>Map</th>
            <td>{{ macro.maplink(urlargs, round.map) }}</td>
          </tr>
          <tr>
            <th>Kills</th>
            <td>{{ round.kills }}</td>
          </tr>

          {% if round.flagmatch %}

          <tr>
            <th>Winning Team</th>
            <td>
              {% if round.winning_team %}
                <span class="team-{{round.winning_team}}">{{ round.winning_team.capitalize() }} Won</span>
              {% elif round.tie %}
                Tie
              {% elif round.scores == 0%}
                No Scores
              {% endif %}
            </td>
          </tr>

          <tr>
            <th>Scores</th>
            <td>
              <span class="team-alpha">{{ round.alpha_scores }}</span>
              <span class="team-bravo">{{ round.bravo_scores }}</span>
            </td>
          </tr>

          {% endif %}

        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Weapons</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2" style="text-align: left;">Wep</th>
            <th>Kills</th>
          </tr>
         </thead>
         <tbody>
      {% for wep in round.weapons.values()|sort(attribute='kills', reverse=True) %}
        <tr>
          <td width="10" style="text-align: right;">{{macro.weaponpic(wep.name)}}</td>
          <td>{{macro.weaponlink(urlargs, wep.name)}}</td>
          <td>{{ wep.kills }}</td>
        </tr>
      {% endfor %}
         </tbody>
      </table>
    </div>



  </div>

  <div class="col-xs-12  col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Players</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Player</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Scores</th>
          </tr>
         </thead>
         <tbody>
          {% for player in players|sort(attribute='kills', reverse=True) %}
            <tr>
              <td style="text-align: right; width: 0;">{{ macro.playerlink(urlargs, player.obj, true) }}</td>
              <td>{{ player.kills }}</td>
              <td>{{ player.deaths }}</td>
              <td>
                {% if round.flagmatch %}
                    <span class="team-alpha">{{player.get('Alpha_scores', 0)}}</span>
                    <span class="team-bravo">{{player.get('Bravo_scores', 0)}}</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
         </tbody>
      </table>
    </div>

  </div>
</div>
{% endblock %}

