{% import 'macro.html' as macro %}
{% extends "layout.html" %}

{% block title %}
Top Weapons
{% endblock %}

{% block content %}

<table class="table table-striped">

  <thead>
    <tr>
      <th colspan="2">Weapon</th>
      <th>Kills</th>
    </tr>
  </thead>

  <tbody>
    {% for weapon, kills in weapons %}
    <tr>
      <td width="10" style="text-align: right;">{{macro.weaponpic(weapon)}}</td>
      <td>{{macro.weaponlink(weapon)}}</td>
      <td>{{kills}}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
